af|inputText.inputLinesBold::content {
    font-weight: bold;
    color: Black;
    border-width: 0px;
    background-color: White;
    overflow-x: hidden;
    overflow-y: hidden;
    background-image: none
}

af|outputFormatted.outputLinesBold::content {
    font-weight: bold;
    color: Black;
    border-width: 0px;
    background-color: White;
    overflow-x: hidden;
    overflow-y: hidden;
    background-image: none
}

af|inputText.inputLines::content {
    color: Black;
    border-width: 0px;
    background-color: White;
    overflow-x: hidden;
    overflow-y: hidden;
    background-image: none
}


af|panelGroupLayout.numericKeyPadInputDP {
    border-color: rgb(70, 70, 70);
    border-style: solid;
    border-width: 0px;
    border-top-left-radius: 4mm;
    border-top-right-radius: 4mm;
    border-bottom-left-radius: 4mm;
    border-bottom-right-radius: 4mm;
    background-repeat: repeat;
    background-image: url("../../images/base_Disabled.png");
}

af|commandButton.numericKeyPadButton {
    background-color: transparent;
    color: Black;
    font-size: medium;
    font-weight: normal;
    background-image: none;
    border: none;
    height:30px; 
}

af|panelGroupLayout.inputQuantityNumber {
    text-align: center;
    width: 36px;
}

af|inputText.orderveritextquantity::content {
    border-color: transparent;
    border-style: solid;
    border-width: 0px;
    background-color: transparent;
    background-image: none;   
    text-align: right;
    width: 36px;
}